/* ------------------------ BASE STYLES ------------------------ */
body {
  background-color: gray;
  margin: 0;
  padding: 0;
}

.main-header-1 {
  background-image: url("./gym-backgrund-img/12345.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.main-header-1 .header-1 {
  width: 600px;
  color: white;
  animation-name: header-1-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes header-1-animation {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleY(0);
  }
}

.main-header-1 .header-2 {
  width: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.login a,
.Register a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.login a:hover,
.Register a:hover {
  color: red;
}

/* ------------------------ CONTAINER ------------------------ */
.container {
  height: 526px;
  background-image: url("./gym-backgrund-img/12345.jpg");
  background-size: cover;
  border-bottom-right-radius: 150px;
  text-align: center;
  padding: 20px;
}

.container .main-menu {
  color: white;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.main-menu li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.main-menu li a:hover {
  color: red;
}

.container .content {
  margin-top: 150px;
  font-size: 150%;
  color: white;
  font-weight: bolder;
  text-shadow: 10px 10px 5px black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* ------------------------ WORKOUT SECTIONS ------------------------ */
.container-2 {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  border: none;
}

.container-2 > div {
  border-radius: 20px;
  width: 300px;
  height: 400px;
  text-align: center;
  border: none;
  box-shadow: 5px 5px 5px;
  transition: transform 0.3s;
}

.container-2 img {
  border-radius: 20px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.container-2 h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.container-2 a {
  text-decoration: none;
}

.container-2 > div:hover {
  transform: scale(1.1);
  color: red;
}

/* ------------------------ FOOTER ------------------------ */
.main-footer {
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 150px;
  margin-top: 50px;
  background-color: black;
  flex-wrap: wrap;
  padding: 20px;
}

.main-footer .footer-1 {
  color: white;
  animation-name: footer-1-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.footer-1 .mylogo {
  border-radius: 150px;
}

@keyframes footer-1-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.footer-2 {
  display: grid;
  justify-content: center;
  align-content: center;
}

.social-icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-icon a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50px;
}

.social-icon a i {
  font-size: 2rem;
  color: black;
  opacity: 0.9;
}

.social-icon a:hover {
  background-color: #111;
  transition: 0.5s;
}

.social-icon a:hover i {
  color: white;
  transition: 0.5s;
}

.footer-nav {
  margin: 30px 0;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.footer-nav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  opacity: 0.7;
  transition: 0.5s;
}

.footer-nav ul li a:hover {
  opacity: 1;
}

.footer-bottom {
  background-color: black;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

/* ------------------------ MEDIA QUERIES ------------------------ */


@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .main-header-1 {
    flex-direction: column;
    text-align: center;
  }

  .main-header-1 .header-1,
  .main-header-1 .header-2 {
    width: 100%;
  }

  .header-1 {
    font-size: 18px;
  }

  .login a,
  .Register a {
    font-size: 16px;
  }

  .container {
    height: auto;
    padding: 20px;
  }

  .container .main-menu {
    flex-direction: column;
    gap: 15px;
  }

  .main-menu li a {
    font-size: 16px;
  }

  .container .content {
    margin-top: 80px;
    font-size: 18px;
  }

  .container-2 {
    grid-template-columns: 1fr;
  }

  .container-2 h1 {
    font-size: 18px;
  }

  .main-footer {
    flex-direction: column;
    height: auto;
    border-top-left-radius: 0;
  }

  .footer-nav ul li a {
    font-size: 14px;
  }

  .footer-bottom p {
    font-size: 13px;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .main-header-1 {
    flex-direction: column;
    align-items: center;
  }

  .main-header-1 .header-1,
  .main-header-1 .header-2 {
    width: 100%;
    text-align: center;
  }

  .login a,
  .Register a {
    font-size: 18px;
  }

  .main-menu li a {
    font-size: 18px;
  }

  .container-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-2 h1 {
    font-size: 20px;
  }

  .main-footer {
    flex-wrap: wrap;
    text-align: center;
  }

  .footer-nav ul li a {
    font-size: 15px;
  }
}


@media (min-width: 1025px) {
  .container-2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .main-header-1 {
    flex-direction: row;
  }
}
